<div class="wrapper">
  <div class="container-fluid p-0">
    <a class="btn btn-primary mt-3" (click)="rouToLogin()" style="position: absolute;right: 10px;z-index: 1;color:#fff"><i class="ri-home-4-line" ></i>Go To Login</a>
          <!-- <img src="./assets/images/error/01.png" class="img-fluid iq-error-img" alt=""> -->
          <!-- <video width="100%" loop autoplay>
            <source src="/assets/fortuna_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video> -->
          
          <div class="video-container test">
            <video loop autoplay>
              <source src="/assets/fortuna_video.mp4" type="video/mp4" />
            </video>
          </div>
  </div>
</div>
