<div class="sign-in-from">
  <h1 class="mb-0">Forgot Password ?</h1>
  <p>Enter your email address and we'll send you an email with instructions to reset your password.</p>
  <form class="mt-4" [formGroup]="forgotPasswordForm" (submit)="forgotPassword()" autocomplete="off">

    <div class="form-group {{ errorField }}">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
      <p *ngIf="forgotPasswordForm.controls['email'].hasError('required') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Email is required.
      </p>
      <p *ngIf="forgotPasswordForm.controls['email'].hasError('email') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Email is not valid.
      </p>
    </div>

    <div class="d-inline-block w-100">

      <button type="submit" class="btn btn-primary float-right">Reset Password</button>
    </div>

  </form>
</div>