<div class="row mt-2">
    <div class="col-md-8 left-mimic-run" style="border: 5px solid #cecece;">
        <div id="wrapper" class='mn-studio preview'>
            <div class="row site-details">
                <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
                <div  class="col-md-3 updated">Last Data Updated On <br/>{{mimicUpdateAt | date: 'MMMM d, y, h:mm:ss a' }}</div>
                <div  class="col-md-6 site-name">{{mimicName}}</div>
                <div  class="col-md-3">
                    <div class="dropdown text-primary settings">
                        <a *ngIf="userType != 1" class="control-button-link text-primary" href="javascript:void(0)" (click)="manageMimicControl(mimic._id)">Control</a>
                        <span class="dropdown-toggle" id="dropdownMenuButton1" data-toggle="dropdown">
                            <i class="fa fa-cog"></i>
                        </span>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                           <a class="dropdown-item text-primary" href="javascript:void(0)" (click)="listMimics()"><i class="fa fa-list mr-2"></i>List</a>
                           <a *ngIf="userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="editMimicDetails(mimic._id)"><i class="fa fa-pencil mr-2"></i>Edit</a>
                           <a *ngIf="userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="mimicSettings(mimic._id)"><i class="fa fa-gear mr-2"></i>Settings</a>
                           <a *ngIf="mimic && mimic.mimic_data && mimic.mimic_data.length < 1 && userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="manageMimicDetails(mimic._id)"><i class="fa fa-pencil mr-2"></i>Create Mimic</a>
                           <a *ngIf="mimic && mimic.mimic_data && mimic.mimic_data.length > 0 && userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="manageMimicSchedule(mimic._id)"><i class="fa fa-pencil mr-2"></i>Manage Schedule</a>
                           <a *ngIf="mimic && mimic.mimic_data && mimic.mimic_data.length > 0 && userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="manageMimicDetails(mimic._id)"><i class="fa fa-pencil mr-2"></i>Update Mimic</a>
                           <a *ngIf="mimic && mimic.mimic_data && mimic.mimic_data.length > 0 && userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="previewMimicDetails(mimic._id)"><i class="fa fa-tag mr-2"></i>Mimic Tagging</a>
                           <a *ngIf="mimic && mimic.mimic_data && mimic.mimic_data.length > 0 && userType != 1" class="dropdown-item text-primary" href="javascript:void(0)" (click)="manageMeterData(mimic._id)"><i class="fa fa-pencil mr-2"></i>Manage Meter Data</a>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div id="droppable"></div>
        </div>
    </div>
    <div class="col-md-4 right-mimic-run">
        <!-- <div class="row"> -->
            <div class="row stat-box-container">
                <div class="col-md-5 stat-box " *ngFor="let item of document; let b = index;">
                        <h3 class="pumpBoxHead">Pump {{b+1}}</h3>
                        <div class="form-row ">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control block-data" value="STATUS" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <div *ngIf="!item.details[0].value" class="alert alert-danger block-data" role="alert" style="padding:0 6px;">
									<input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[0].value ? 'ON' : 'OFF'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                                <div *ngIf="item.details[0].value" class="alert alert-success block-data" role="alert" style="padding:0 6px;">
                                    <input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[0].value ? 'ON' : 'OFF'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control block-data" value="{{item.details[1].name}}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <div *ngIf="!item.details[1].value" class="alert alert-danger block-data" role="alert" style="padding:0 6px;">
									<input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[1].value ? item.details[1].unit : 'MANUAL'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                                <div *ngIf="item.details[1].value" class="alert alert-success block-data" role="alert" style="padding:0 6px;">
                                    <input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[1].value ? item.details[1].unit : 'MANUAL'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control block-data" value="{{item.details[2].name}}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <div *ngIf="!item.details[2].value" class="alert alert-danger block-data" role="alert" style="padding:0 6px;">
									<input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[2].value ? item.details[2].unit : 'CLOSE'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                                <div *ngIf="item.details[2].value" class="alert alert-success block-data" role="alert" style="padding:0 6px;">
                                    <input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[2].value ? item.details[2].unit : 'CLOSE'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control block-data" value="{{item.details[3].name}}" disabled>
                            </div>
                            <div class="form-group col-md-6">
                                <div *ngIf="item.details[3].value" class="alert alert-danger block-data" role="alert" style="padding:0 6px;">
									<input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[3].value ? item.details[3].unit : 'NORMAL'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                                <div *ngIf="!item.details[3].value" class="alert alert-success block-data" role="alert" style="padding:0 6px;">
                                    <input type="text" name="Pumps {{b+1}}" class="form-control block-data" value="{{item.details[3].value ? item.details[3].unit : 'NORMAL'}}" disabled style="background:transparent;color:inherit;">
                                </div>
                            </div>
                        </div>
                        <div class="form-row" *ngFor="let field of item.details; let i=index">
                            <div class="form-group col-md-6" *ngIf="i > 3">
                                <input type="text" class="form-control block-data" value={{field.name}} disabled>
                            </div>
                            <div class="form-group col-md-6" *ngIf="i > 3">
                                <input type="text" class="form-control block-data" value="{{field.value ? field.value+field.unit : ''}}" disabled>
                            </div>
                        </div>
                </div>
            </div> 
            <div *ngIf="meterDataArray && meterDataArray.length > 0" class="row stat-box-container meterBoxTable">
                <div class="col-md-12 stat-box">
                        <table id="meterBoxTable">
                            <tr>
                                <th colspan="2">Meter Data</th>
                            </tr>
                            <tr *ngFor="let meterBlock of meterDataArray; let b = index;">
                                <td class="meter-block-lebel">{{meterBlock.name}}</td>
                                <td class="meter-block-value">{{meterBlock.value}} <span *ngIf="meterBlock.value != ''">{{meterBlock.unit}}</span></td>
                            </tr>
                        </table>
                </div>
            </div> 
        <!-- </div> -->
    </div>
</div>