<app-loader></app-loader>

<section class="sign-in-page bg-white">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-md-5 align-self-center" style="margin: 10% auto;">
          <router-outlet></router-outlet>
      </div>
          
      <!-- <div class="video-container-login"> -->
        <!-- <img src="/assets/login-banner.gif" alt="banner-login"/> -->
        <!-- <video loop autoplay>
          <source src="/assets/fortuna_video.mp4" type="video/mp4" />
        </video> -->
      <!-- </div> -->
    </div>
  </div>
</section>
