<div class="row">
  <div class="col-md-3">
    <div class="container1">
      <div class="cloneBoard">
        <ul>
            
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/Motor-running-green-mirror.gif" width='100'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/motor-stop-mirror.svg" width='100'/></p>
                </span>
            </li>
            
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/motor-stop-09.svg" width='100'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/Motor-running-green.gif" width='100'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/on.png" /></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/off.png" /></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/connector_left.png" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/connector.png" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/connector-3-way.png" width='50'/></p>
                </span>
            </li>
            
             <li>
                <span class="mozgat f-szurke pipeImg">
                    <p><img src="/assets/images/mimic/pipe_empty.png" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke pipeImg">
                    <p><img src="/assets/images/mimic/pipe-water-running.gif" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke pipeImg">
                    <p><img src="/assets/images/mimic/underwater-pipe.png" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/Meter-01.svg" width='80'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/Meter-02.svg" width='80'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/sump.svg" /></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/tank-cap.svg" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/hole.svg" width='50'/></p>
                </span>
            </li>
            <li>
                <span class="mozgat f-szurke">
                    <p><img src="/assets/images/mimic/OTH.svg" width='150'/></p>
                </span>
            </li>
            
            
            
            
<!--          <li>
            <span class="mozgat f-szurke pipeImg">
                <p><img src="/assets/images/mimic/pipe_empty.png" /></p>
            </span>
          </li>
          <li>
            <span class="mozgat f-szurke connector-3-way">
                <p><img src="/assets/images/mimic/connector-3-way.png" /></p>
            </span>
          </li>
          <li>
            <span class="mozgat f-szurke pipe-water-running">
                <p><img src="/assets/images/mimic/pipe-water-running.gif" /></p>
            </span>
          </li>
          <li>
            <span class="mozgat f-szurke underwater-pipe">
                <p><img src="/assets/images/mimic/underwater-pipe.png" /></p>
            </span>
          </li>
          <li>
            <span class="mozgat f-szurke Motor-running">
                <p><img src="/assets/images/mimic/Motor-running.gif"   width=100/></p>
            </span>
          </li>
          <li>
            <span class="mozgat f-szurke Motor-running-green">
                <p><img src="/assets/images/mimic/Motor-running-green.gif"  width=100 /></p>
            </span>
          </li>
          <li>
            <span id="drag2" class="mozgat f-szurke pumpImg">
                <p><img src="/assets/images/mimic/connector.png" /></p>
            </span>
          </li>
          <li>
            <span id="drag2" class="mozgat f-szurke pumpImg1">
                <p><img src="/assets/images/mimic/connector_left.png" /></p>
            </span>
          </li>
          <li>
            <span id="drag3" class="mozgat f-szurke off">
              <p><img src="/assets/images/mimic/off.png" /></p>
            </span>
          </li>
          <li>
            <span id="drag3" class="mozgat f-szurke on">
              <p><img src="/assets/images/mimic/on.png" /></p>
            </span>
          </li>
          <li>
            <span id="drag4" class="mozgat f-szurke">
                <p><img src="/assets/images/mimic/Motor-stop.png"  width=100/></p>
            </span>
          </li>
          <li>
            <span id="drag5" class="mozgat f-szurke">
                <p><img src="/assets/images/mimic/OTH.png"  width=200/></p>
            </span>
          </li>-->
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="container2" id="dndBoard">
      <div id="ch_dndBoard1" class="bal-oszlop tapad bal"></div>
    </div>
  </div>
</div>

<style>
  .mozgat.hovered {
  background: #aaa;
}
</style>