<app-breadcrumb1 [items]="breadCrumbItems"></app-breadcrumb1>
<div class="row" *ngIf="userType != 1">
  <div class="col-md-6 col-lg-3">
    <app-iq-card cardClass="iq-card overflow-hidden" [isCardHeader]=false cardBodyClass="iq-card-body pb-0">
      <div class="rounded-circle iq-card-icon iq-bg-success"><i class="ri-bar-chart-grouped-line"></i></div>
      <span class="float-right line-height-6">Total Active Mimics</span>
      <div class="clearfix"></div>
      <div class="text-center">
        <h2 class="mb-0"><span class="counter">{{activeMimics}}</span></h2>
      </div>
      <br>
    </app-iq-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <app-iq-card cardClass="iq-card overflow-hidden" [isCardHeader]=false cardBodyClass="iq-card-body pb-0">
      <div class="rounded-circle iq-card-icon iq-bg-danger"><i class="ri-bar-chart-grouped-line"></i></div>
      <span class="float-right line-height-6">Total De-Active Mimics</span>
      <div class="clearfix"></div>
      <div class="text-center">
        <h2 class="mb-0"><span class="counter">{{deactiveMimics}}</span></h2>
      </div>
      <br>
    </app-iq-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <app-iq-card cardClass="iq-card overflow-hidden" [isCardHeader]=false cardBodyClass="iq-card-body pb-0">
      <div class="rounded-circle iq-card-icon iq-bg-success"><i class="ri-group-line"></i></div>
      <span class="float-right line-height-6">Write Access Users</span>
      <div class="clearfix"></div>
      <div class="text-center">
        <h2 class="mb-0"><span class="counter">{{writeUsers}}</span></h2>
      </div>
      <br>
    </app-iq-card>
  </div>
  <div class="col-md-6 col-lg-3">
    <app-iq-card cardClass="iq-card overflow-hidden" [isCardHeader]=false cardBodyClass="iq-card-body pb-0">
      <div class="rounded-circle iq-card-icon iq-bg-danger"><i class="ri-group-line"></i></div>
      <span class="float-right line-height-6">Read Access Users</span>
      <div class="clearfix"></div>
      <div class="text-center">
        <h2 class="mb-0"><span class="counter">{{readUsers}}</span></h2>
      </div>
      <br>
    </app-iq-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-iq-card>
      <div card-header class="iq-header-title">
        <h4 class="card-title">Site Locations</h4>
      </div>
      <!---Google Map to be rendered-->
      <div>
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker *ngFor="let mimic of mimicsArr; let i = index" [latitude]="mimic.lattitude" [longitude]="mimic.longitude"
          (mouseOver)="onMouseOver(infoWindow, $event)"
          (mouseOut)="onMouseOut(infoWindow, $event)">
            <agm-info-window [disableAutoPan]="false">
              <div class="mapDiv">
                <label>Name : </label>
                <a href="/admin/mimics/run/{{mimic._id}}">
                  <strong>{{mimic.name}}</strong>
                </a>
              </div>
              <div class="mapDiv">
                <label>Site Type : </label>
                <strong>
                  <span *ngIf="mimic.mimic_type == 0">ZPS</span>
                  <span *ngIf="mimic.mimic_type == 1">TubeWell</span>
                </strong>
              </div>
              <div class="mapDiv">
                <label>No. Of Pumps : </label>
                <strong>{{mimic.no_of_pumps}}</strong>
              </div>
            </agm-info-window>
          </agm-marker>
        </agm-map>
        <!--onMouseOver(infoWindow,$event:MouseEvent){
          infoWindow.open();
        }
        onMouseOut(infoWindow,$event:MouseEvent){
          infoWindow.close();
        }-->
      </div>
    </app-iq-card>
  </div>
</div>

