<div class="row">
    <div class="col-sm-12">
        <div class="iq-card" style="height: 100%;">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group ml-3 mt-3">
                        <label>
                            <h3>Manage Mimic</h3>
                        </label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group float-right pt-3 mr-3">
                        <button type="button" class="btn btn-primary rounded-pill mr-2" (click)="saveMimic()"><i
                                class="fa fa-plus" aria-hidden="true"></i>
                            Save Mimic</button>
                        <button type="button" class="btn btn-primary rounded-pill mr-2" (click)="previewMimic()">
                            <i class="fa fa-search" aria-hidden="true"></i>Preview Mimic
                        </button>
                    </div>
                </div>
            </div>
            <div id="wrapper" class='mn-studio'>
                <div class="col" id="col1">
                    <div style="margin-bottom: 5px;">
                        <select class="form-control" name="site_image_category_id" (change)="changeSelectedCategory($event)">
                            <option [attr.value]="col._id" *ngFor="let col of categoriesArr"
                            >{{col.name}}</option>
                        </select>
                    </div>
                    <div id="drag-list" class="drag-list">
                        <ul>
                           <li *ngFor="let selImg of selectedImages; let i=index; let lastcall = last">
                                <div id="{{'drag'+i}}" class="drag">
                                    <img src="{{imageUrl+selImg.name}}" width="100%" height="100%">
                                </div>
                                <span *ngIf="lastcall">{{anyfunction()}}</span>
                                <p>Motor Running Green</p>
                            </li>

                        </ul>

                    </div>
                </div>
                <div class="col" id="droppable">
                </div>
            </div>
        </div>
    </div>
</div>