<div class="sign-in-from">
  <h1 class="mb-0">Administrator Sign in</h1>
  <p>Enter your email address and password to access admin panel.</p>
  <form class="mt-4" [formGroup]="loginForm" (submit)="login()" autocomplete="off">
    <div class="form-group {{ errorField }}">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" formControlName="email" class="form-control mb-0" placeholder="Enter email">
      <p *ngIf="loginForm.controls['email'].hasError('required') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Email is required.
      </p>
      <p *ngIf="loginForm.controls['email'].hasError('email') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Email is not valid.
      </p>
    </div>
    <div class="form-group {{ errorField }}">
      <label for="exampleInputPassword1">Password</label>
      <a routerLink="/forgot-password" class="float-right">Forgot password?</a>
      <input type="password" formControlName="password" class="form-control mb-0" placeholder="Password">
      <p *ngIf="loginForm.controls['password'].hasError('required') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Password is required.
      </p>
      <p *ngIf="loginForm.controls['password'].hasError('minlength') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Password should be atleast 6 characters long
      </p>
      <p *ngIf="loginForm.controls['password'].hasError('maxlength') && isSubmitted" class="error-msg">
        <i class="fa fa-exclamation"></i> Password should not exceed with 30 characters
      </p>
    </div>
    <div class="form-group">
      <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
        <input type="checkbox" class="custom-control-input" id="customCheck1" formControlName="rememberMe" #ref (change)="remember($event)">
        <label class="custom-control-label" for="customCheck1">Remember Me</label>
      </div>
      <button type="submit" class="btn btn-primary float-right">Sign in</button>
    </div>
    <!-- <div class="sign-info">
      <span class="dark-color d-inline-block line-height-2">Don't have an account? <a href="javascript:void(0);">Sign up</a></span>
      <ul class="iq-social-media">
        <li><a href="javascript:void(0);"><i class="ri-facebook-box-line"></i></a></li>
        <li><a href="javascript:void(0);"><i class="ri-twitter-line"></i></a></li>
        <li><a href="javascript:void(0);"><i class="ri-instagram-line"></i></a></li>
      </ul>
    </div> -->
  </form>
</div>
