<div class="row">
    <div class="col-md-8" style="border: 5px solid #cecece;">
        <div id="wrapper" class='mn-studio preview'>
            <div id="droppable" >
                <div class="drag" *ngFor="let element of mimicDataArray; let i = index;" [attr.styleA]= element.style>
                    <img *ngIf="element.name!='Pipes' && element.name!='Flow Meter' && element.name!='Pressure Meter' && element.name!='Level Sensor'" src="{{element.image}}" title="{{element.name}}" width="100%" height="100%" >
                    <img *ngIf="element.name=='Pipes'" src="{{element.image}}" title="{{element.name}}" width="100%" height="100%" (click)="openModal(template,i)" >
                    <img *ngIf="element.name=='Flow Meter' || element.name=='Pressure Meter' || element.name=='Level Sensor'" src="{{element.image}}" title="{{element.name}} {{element.value}}" width="100%" height="100%" (click)="openMeterDialog(meterPopup, i)" >
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-8" style="margin-top:20px;margin-left:10px;text-align: right;">
                <button type="button" class="btn btn-primary rounded-pill mb-3" (click)="saveAll()" style="width: 100%;">Save All Pumps Data</button>
            </div>
        </div>
        <form (ngSubmit)="doSubmit()" [formGroup]="statsForm">
            <div class="row">
                <div formArrayName="blocks" class="stat-box-container">
                    <div class="col-md-8 stat-box"
                        *ngFor="let item of statsForm.get('blocks')['controls']; let b = index;">
                        <div [formGroupName]="b">
                            <h3>Pump {{b+1}}</h3>
                            <input formControlName="pumpValue" type="hidden" class="form-control" />
                            <hr />
                            <div formArrayName="details">
                                <div class="form-row"
                                    *ngFor="let field of item.get('details')['controls']; let j = index; let first = first; let last = last ">
                                    <div [formGroupName]="j" style="display: flex;width: 100%; margin-right: 20px;">
                                        <div class="form-group col-md-5">
                                            <input type="text" class="form-control" formControlName="name"
                                                placeholder="name">
                                        </div>
                                        <div class="form-group col-md-5"
                                            (click)="openValueDialog(item, field, b, j, composeEmail)">
                                            <input type="text" class="form-control" formControlName="value"
                                                placeholder="Value">
                                        </div>
                                        <div class="form-group col-md-2 clone-btns">
                                            <i *ngIf="last" class="fa fa-plus add-btn" aria-hidden="true"
                                                (click)="addRow(item)"></i> &nbsp;&nbsp;
                                            <i *ngIf="j > first" class="fa fa-trash remove-btn" aria-hidden="true"
                                                (click)="removeRow(item, field, j)"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <ng-template #composeEmail>
        <div id="compose-email-popup">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Value Properties</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form id="form-wizard3" [formGroup]="modalForm" (submit)="addNewMimic()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="slave_id">Slave Id: *</label>
                                        <input formControlName="slave_id" type="text" class="form-control" name="slave_id" />
                                        <p *ngIf="modalForm.controls['slave_id'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Slave Id is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="register_address">Register Address: *</label>
                                        <input formControlName="register_address" type="text" class="form-control" name="register_address" />
                                        <p *ngIf="modalForm.controls['register_address'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Register Address is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="data_type">Data Type: *</label>
                                        <select formControlName="data_type" class="form-control">
                                            <option value="integer" selected>Integer</option>
                                            <option value="float">Float</option>
                                            <option value="bool">Bool</option>
                                        </select>
                                        <p *ngIf="modalForm.controls['data_type'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Data Type is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="unit">Unit: *</label>
                                        <input formControlName="unit" type="text" class="form-control" name="unit" />
                                        <p *ngIf="modalForm.controls['unit'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Unit is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="confirm(modalService.config.data.item,modalService.config.data.field,modalService.config.data.b, modalService.config.data.ind)">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #template>
        <div id="template-popup">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Select Pump/s for pipe association</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalPumpRef.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form id="form-wizard3" [formGroup]="modalFormPump" >
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="pumps">Pump/s : *</label>
                                        <select formControlName="pumps" class="form-control" multiple>
                                            <option *ngFor="let item of statsForm.get('blocks')['controls']; let i = index;" value="{{i+1}}" >Pump {{i+1}}</option>
                                        </select>
                                        <p *ngIf="modalFormPump.controls['pumps'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Pump/s  is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" formControlName='element'>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="savePipeAssociation()">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #meterPopup>
        <div id="compose-email-popup">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenteredScrollableTitle">Value Properties</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form id="form-wizard3" [formGroup]="modalForm" (submit)="addNewMimic()">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="slave_id">Slave Id: *</label>
                                        <input formControlName="slave_id" type="text" class="form-control" name="slave_id" />
                                        <p *ngIf="modalForm.controls['slave_id'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Slave Id is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="register_address">Register Address: *</label>
                                        <input formControlName="register_address" type="text" class="form-control" name="register_address" />
                                        <p *ngIf="modalForm.controls['register_address'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Register Address is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="data_type">Data Type: *</label>
                                        <select formControlName="data_type" class="form-control">
                                            <option value="integer" selected>Integer</option>
                                            <option value="float">Float</option>
                                        </select>
                                        <p *ngIf="modalForm.controls['data_type'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Data Type is required.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group {{ errorField }}">
                                        <label for="unit">Unit: *</label>
                                        <input formControlName="unit" type="text" class="form-control" name="unit" />
                                        <p *ngIf="modalForm.controls['unit'].hasError('required') && isSubmitted" class="error-msg">
                                        <i class="fa fa-exclamation"></i> Unit is required.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="confirmSaveMeter(modalService.config.data.ind)">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
</div>